body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin:50px,auto,0,auto;
  font-family: 'Sacramento', cursive;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
    font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
font-family: 'Montserrat', sans-serif;

}

.topcontainer{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}

.middle-container{
 margin: 100px 0;
}

.bottom-container{
color: #11999E;
background-color: #66BFBF;
padding: 50px 0 20px;
}
p{
  color: black;
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}
.pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}
.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0 ;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 250px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row{
  width: 50%;
 margin: 100px auto 100px auto;
 text-align: left;
 line-height: 2;
}
.web{
  width: 25%;
  float: left;
  padding: 30px;
}
.chicken{
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr{
  border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 5%;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}


.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:10px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
